@import '../../style/color.scss';

.header2{
    position: fixed;
    background-color: #282c34;
    z-index: 2;
    padding: 0px 30px;
    width: -webkit-fill-available;
}

.header{
    position: fixed;
    background-color: transparent;
    padding: 0px 30px;
    width: -webkit-fill-available;
}

nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    .text-logo{
        font-family: 'Nova Mono', monospace;
        border-left: 20px solid hsl(192deg 100% 64%);
        padding-left: 10px;
        color: $white;
        text-decoration: none;
    }
    .left-menu{
        display: flex;
        gap: 40px;
        justify-content: flex-end;
        a{
            color: $white;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 3px;
            font-family: 'Nova Mono', monospace;
            span{
                color: $blueLight;
                line-height: 0;
            }
            &:hover{
                color: $blueLight;
            }
        }
    }
}
