@import '../../style/color.scss';

.contact{
    font-family: 'Nova Mono', monospace;
    max-width: 900px;
    margin: 0px auto;
    padding: 100px 0px;
    .icon{
        color: $blueLight;
        line-height: 0;
    }
    .div-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        .btn-contact{
            padding: 1rem;
            background: transparent;
            border: 2px solid #47d9ff;
            border-radius: 5px;
            color: #47d9ff;
            cursor: pointer;
            text-decoration: none;
            &:hover{
                background: #1c5e6e;
            }
        }
    }
    
}