@import '../../style/color.scss';

.worked{
    span{
        color: $blueLight;
    }
}

.experience {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  nav {
    background: #fdfdfd;
    padding: 0px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #eeeeee;
    height: 44px;
  }

  .section-info{
    padding: 3rem;
    position: relative;
    h2{
        margin: 0px;
    }
    span{
        color: $blueLight;
    }
    .description{
        max-width: 70%;
        white-space: pre-line;
    }
    img{
        position: absolute;
        top: 3rem;
        right: 2rem;
        width: 200px;
        height: 200px;
        z-index: -1;
        opacity: 0.3;
    }
  }
  
  .tabs {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
  }

  .menu-skill{
    display: flex;
    gap: 10px;
    align-items: center;
    line-break: anywhere;
    img{
        width: 30px;
        height: 30px;
    }
  }
  
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
  }
  
  ul {
    display: flex;
    width: 100%;
  }
  
  li {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 15px 15px;
    position: relative;
    background: white;
    color: black;
    cursor: pointer;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
  }
  
  .underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--accent);
  }
  
  li.selected {
    background: #eee;
    color: $blueLight;
    border-bottom: 5px solid $blueLight;
  }
  
  li button {
    width: 20px;
    height: 20px;
    border: 0;
    background: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #000;
    margin-left: 10px;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
  }
  
  .add-item {
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    align-self: center;
  }
  
  .add-item:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }
}