@import 'style/color.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: #282c34;
  color: $white;
  font-family: 'Rubik Mono One', sans-serif;
}

.blue{
  color: $blueLight;
}

.title{
  display: flex;
  align-items: center;
  gap: 10px;
}

.link{
  text-decoration: none;
  color: $blueLight;
  &:hover{
    text-decoration: underline;
  }
}

.menu-icon-center{
  display: flex;
  gap: 10px;
  svg{
    margin-top: 3px;
  }
}

.main{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
